@{
    Layout = null;
}

<div class="row">
    <div class="col-md-4">
        <h2>Hello, please logout and log back in with your user@avixa.org account.</h2>
        <p>
            @Html.ActionLink("Sign out", "SignOut", "Account")
        </p>
    </div>
</div>